.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardSize {
  width: 38rem;
}

.headerBg {
  background-color: #0b0c10;
}

main {
  background-color: #1f2833;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.myImage {
  max-height: 23rem;
  float: left;
}

.headerTitle {
  font-size: 5rem;
  color: #66fcf1;
}

.navbarColor {
  text-decoration: none;
  color: #45a29e;
}

.textColor {
  color: #c5c6c7;
}

.hide {
  display: none;
}

.myEmail:hover + .hide {
  display: block;
  color: #c5c6c7;
}
.emailMargin {
  margin-right: 40px;
}

.phoneMargin {
  margin-left: 40px;
}

.hoverText {
  font-size: 15px;
}

.titleSize {
  font-size: 40px;
  font-weight: bold;
}

.projectWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.aboutMargin {
  margin-right: 20px;
  margin-bottom: 10px;
}

.navAdjust {
  padding-right: 10px;
}

@media screen and (max-width: 340px) {
  .headerTitle {
    font-size: 4rem;
  }
}

@media screen and (max-width: 417px) {

  .myImage {
    display: flex;
    float: none;
    padding-left: 10px;
  }
}
